::selection {
  color: white;
  background: #9356DC;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.steps {
  max-width: 720px;
  margin: auto;
}
.steps h2 {
  width: 95%;
  margin: auto;
}
.steps ol {
  list-style: none;
  max-width: 380px;
  margin: auto;
  counter-reset: etape;
}
.steps ol li {
  background: #F7F7F7;
  border-radius: 15px;
  width: 85%;
  margin: 1em auto 1em 5%;
  padding: 1em 0 1em 2em;
  position: relative;
  counter-increment: etape;
  transition: all ease 1s;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);
}
.steps ol li::before {
  content: counter(etape);
  color: white;
  background: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.steps ol li:hover {
  background: #e4d5f6;
}
.steps ol li:hover i {
  color: #9356DC;
}
.steps ol li i {
  width: 28px;
  text-align: center;
  transition: all ease 400ms;
}

.restaurant {
  overflow: hidden;
  border-radius: 15px;
  max-width: 380px;
  margin: 1em auto;
  position: relative;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 460ms;
}
.restaurant:hover {
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.4);
}
.restaurant__heading {
  max-width: 720px;
  margin: auto;
}
.restaurant__img-container {
  max-height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__img-container img {
  width: 100%;
  height: auto;
  transition: all ease 460ms;
}
.restaurant__img-container img:hover {
  transform: scale(1.2);
}
.restaurant__new-label {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgba(153, 226, 208, 0.9);
  color: #139273;
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.4em 1em;
  border-radius: 3px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);
}
.restaurant__bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__info:hover {
  text-decoration: underline;
  text-decoration-color: #9356DC;
}

.add-favorite {
  font-size: 200%;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #9356DC;
  transition: all ease 650ms;
  overflow: hidden;
  mask-image: url("heart-bis.png");
  mask-size: 40px 40px;
  -webkit-mask-image: url("heart-bis.png");
  -webkit-mask-size: 40px 40px;
}
.add-favorite::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  position: absolute;
  transition: all ease 450ms;
  transform: translate(-4px, 10px);
}
.add-favorite:hover::after {
  transform: translate(-4px, -48px);
}

.btn-cta {
  color: white;
  text-decoration: none;
  border-radius: 500px;
  padding: 1em 2em;
  margin: 2em 0;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
  transition: all ease 300ms;
  opacity: 1;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);
}
.btn-cta:hover {
  opacity: 0.7;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.4);
}

.header {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  padding: 1em 0 0.6em 0;
}
.header__logo-container {
  display: flex;
  justify-content: center;
}

.footer {
  background: #353535;
  color: white;
}
.footer__link-list {
  max-width: 720px;
  margin: auto;
  padding: 1em;
  list-style: none;
}
.footer__link-list li {
  margin: 0.4em 0;
}
.footer__link-list i {
  width: 28px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
}

.usp {
  background-color: #F7F7F7;
  padding: 0 0 1.2em 0;
  text-align: center;
}
.usp .heading {
  margin: 1em 0 2em 0;
}

.localisation {
  padding: 0.8em;
  background-color: #dedede;
}

.accroche {
  max-width: 720px;
  margin: auto;
}
.accroche__cta {
  height: 4em;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants-container {
  padding: 2%;
  margin: auto;
  background-color: #F7F7F7;
}
.restaurants-container a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
