$primary-color: #9356DC; 
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0; 
$footer-bg-color: #353535; 
$soft-gray-bg: #F2F2F2; 


@mixin logo-font {
	font-family: 'Shrikhand', cursive;
}

@mixin main-box-shadow {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
}

@mixin gray-bg {
	background-color: $soft-gray-bg; 
}
@mixin grayer-bg {
	background-color: darken($soft-gray-bg, 10%); 
}

@mixin btn {
	color: white; 
	text-decoration: none; 
	border-radius: 500px; 
	padding: 1em 2em; 
	margin: 2em; 
	background: linear-gradient($primary-color, $secondary-color); 
	font-weight: bold; 
}





* {
	margin: 0; 
	padding: 0; 
	font-family: 'Roboto', sans-serif; 
}

/* HEADER -------------------------------------------------------- */
.header {
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	position: relative;
	z-index: 2; 
	padding: 1em 0 0.6em 0; 
	&__logo-container {
		display: flex; 
		justify-content: center;
	}
}





/* FOOTER ------------------------------------------------- */
.footer {
	background: $footer-bg-color; 
	color: white; 
	&__link-list {
		padding: 1em; 
		list-style: none; 
		li {
			margin: 0.4em 0; 
		}
		i {
			width: 28px; 
		}
	}
	a {
		text-decoration: none; 
		color: white; 
	}
	&__logo {
		@include logo-font; 
	}

}




/*  ===========================================
HOMEPAGE 
=========================================== */
.usp {
	@include gray-bg; 
	text-align: center; 
}

.localisation {
	padding: 0.8em; 
	@include grayer-bg; 
}

.accroche {
	&__cta {
		height: 4em; 
		margin: 2em; 
		a {
			@include btn; 
		}
	}
}

.steps {
	li {
		i {
			width: 28px; 
			text-align: center; 
		}
	}
}


.restaurants-container {
	padding: 2%; 
	margin: auto; 
	@include gray-bg; 
}

.restaurant {
	overflow: hidden; 
	border-radius: 15px; 
	max-width: 380px; 
	margin: 1em auto; 
	position: relative; 
	@include main-box-shadow; 
	&__img-container {
		max-height: 140px; 
		overflow: hidden;
		display: flex; 
		justify-content: center; 
		align-items: center;
		img {
			width: 100%; 
			height: auto; 
		}
	}
	&__new-label {
		position: absolute; 
		top: 12px; 
		right: 12px;
		background-color: rgb(153, 226, 208, 0.9);
		color: rgb(19, 146, 115); 
		font-weight: bold;
		font-size: 0.85em; 
		padding: 0.4em 1em; 
		border-radius: 3px; 
		@include main-box-shadow;   
	}
	&__bottom {
		padding: 1em; 
		display: flex; 
		justify-content: space-between; 
		align-items: center; 
	}
	&__fav {
		cursor: pointer;
	}
}


/*  ===========================================
MENU  
=========================================== */