$favorite-size: 32px; 

.add-favorite {
	font-size: 200%; 
	width: $favorite-size; 
	height: $favorite-size; 
	color: $primary-color; 
	transition: all ease 650ms; 
	
	.fa-heart {
		position: absolute;
	}
	.far {
		z-index: 3; 
	}
	.fas {
		color: transparent;  
		z-index: 4; 
		background-clip: text;
		-webkit-background-clip: text; 
		background-size: cover; 
		overflow: hidden; 
		&:hover {
			&::after {
				transform: translate(0, 0); 
			}
		}
		&::after {
			content: ''; 
			display:block; 
			width: $favorite-size; 
			height: $favorite-size; 
			border-radius: 50%; 
			background: linear-gradient($secondary-color, $primary-color); 
			position: absolute; 
			top: 0; 
			right: 0; 
			bottom: 0; 
			left: 0; 
			transition: all ease 450ms; 
			transform: translate(0, $favorite-size); 
			&:hover {
				transform: translate(0, 0); 
			}
		}
		
	}

	
}

/*
&::after {
		content: ''; 
		display:block; 
		width: 48px; 
		height: 48px; 
		border-radius: 50%; 
		background: linear-gradient($secondary-color, $primary-color); 
		position: absolute; 
		transition: all ease 450ms; 
		transform: translate(-4px, 10px); 
	}
	&:hover {
		&::after {
			transform: translate(-4px, -48px); 
		}
	} 
*/