$favorite-size: 32px; 

.add-favorite {
	font-size: 200%; 
	width: $favorite-size; 
	height: $favorite-size; 
	color: $primary-color; 
	transition: all ease 650ms; 
	&:hover .far {
		height: 0; 
	}
	
	.fa-heart {
		position: absolute;
	}
	.far {
		height: $favorite-size; 
		@include gray-bg;  
		z-index: 4; 
		transition: height 450ms cubic-bezier(0,.8,.14,.99); 
	}
	.fas {
		color: transparent;  
		@include gradient-bg; 
		background-clip: text;
		-webkit-background-clip: text; 	
		z-index: 3; 
	}
}

