$apparition-items: 10; 
$anim-delay-initial: 600ms; 
$anim-delay: 100ms;

@keyframes progressive-apparition {
	0% {
		opacity: 0; 
		transform: translateY(80px);
	}
	75% {
		opacity: .5; 
	}
	100% {
		opacity: 1;
		transform: translateY(0); 
	}
}

.progressive-apparition {
	animation: progressive-apparition; 
	animation-duration: 650ms; 
	animation-fill-mode: both;
	@for $i from 1 through $apparition-items {
		&--#{$i} {
			animation-delay: $anim-delay-initial + $anim-delay*$i; 
		}
	} 
}

