.steps {
	@include page; 
	ol {
		list-style: none; 
		max-width: 380px; 
		margin: auto; 
		counter-reset: etape; 
		@include desktop-only {
			display: flex; 
			max-width: none; ;
		}
		li {
			background: $soft-gray-bg; 
			border-radius: 15px; 
			margin: 1em auto 1em 5%;  
			padding: 1em .2em 1em 2em; 
			position: relative; 
			counter-increment: etape; 
			transition: all ease 1s; 
			@include main-box-shadow(0.2); 
			@include desktop-only {
				padding: 1em 2em; 
			}
			&::before {
				content: counter(etape);  
				color: white; 
				background: $primary-color; 
				border-radius: 50%; 
				width: 24px; 
				height: 24px; 
				display: flex; 
				justify-content: center;
				align-items: center;
				position: absolute; 
				left: -12px; 
			}
			&:hover {
				background: lighten($primary-color, 30%); 
			}
			&:hover  i {
				 color: $primary-color; 
			}
			i {			
				text-align: center; 
				transition: all ease 400ms; 
				@include desktop-only {
					text-align: left; 
				}
			}
		}
	}
}