.usp {
	@include gray-bg; 
	padding: 0 0 1.2em 0; 
	text-align: center; 
	.heading {
		margin: 1em 0 2em 0; 
	}
}

.localisation {
	padding: 0.8em; 
	@include grayer-bg; 
}

.accroche {
	@include page; 
	&__cta {
		height: 4em; 
		margin: 2em 0; 
		display: flex; 
		justify-content: center; 
		align-items: center;
	} 
}




.restaurants-container {
	padding: 2%; 
	margin: auto; 
	@include gray-bg;  
	a {
		text-decoration: none; 
		color: inherit; 
	}
}

