.heading-img {
	width: 100%; 
	height: 40vh; 
	overflow: hidden;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	img {
		width: 100%; 
	}
}

.restaurant-heading {
	display: flex; 
	justify-content: space-between;
}

.menu-container {
	border-radius: 25px 25px 0 0; 
	background: $soft-gray-bg;
	padding: 0.6em 1em; 
	position: relative; 
	bottom: 24px; 
	margin-bottom: -24px; 
	h1 {
		font-size: 1.4rem; 
	}
	h2 {
		text-transform: uppercase;
		font-weight: 300; 
		font-size: 1.2rem; 
		max-width: 560px; 
		margin: auto; 
		&::after {
			content: ''; 
			width: 42px; 
			height: 2px; 
			background: $tertiary-color; 
			display: block; 
		}
	}
}
.dish-container {
	margin-bottom: 2em; 
}

.dish-item {
	background: white; 
	border-radius: 12px; 
	padding: .4em; 
	@include desktop-only {
		padding: 1.2em; 
	}
	max-width: 560px; 
	margin: .8em auto; 
	display: flex; 
	justify-content: space-between;
	align-items: flex-end; 
	&__name { 
		h3, p {
			text-overflow: ellipsis; 
			overflow: hidden; 
			white-space: nowrap;
		}
	}
	@include main-box-shadow(0.2); 
	:nth-child(2) {
		font-size: $small-font; 
	}
	.dish-price {
		font-weight: bold; 
		margin-left: 12px; 
	}
}