.heading-img {
	width: 100%; 
	max-height: 40vh; 
	overflow: hidden;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	img {
		width: 100%; 
	}
}

.restaurant-heading {
	display: flex; 
	justify-content: space-between;
	@include menu-page; 
}

.menu-container {
	border-radius: 25px 25px 0 0; 
	background: $soft-gray-bg;
	padding: 0.6em 1em; 
	position: relative; 
	bottom: 24px; 
	margin-bottom: -24px; 
	overflow: hidden;
	h1 {
		font-size: 1.4rem; 
	}
	h2 {
		text-transform: uppercase;
		font-weight: 300; 
		font-size: 1.2rem; 
		@include menu-page; 
		&::after {
			content: ''; 
			width: 42px; 
			height: 2px; 
			background: $tertiary-color; 
			display: block; 
		}
	}
}
.dish-container {
	margin-bottom: 2em; 
}

.dish-item {
	cursor: pointer;
	background: white; 
	@include menu-page;
	margin-top: .8em; 
	margin-bottom: .8em; 
	max-height: 52px;
	@include desktop-only {
		max-height: 76px; 
	}
	display: flex; 
	justify-content: space-between;
	align-items: flex-end; 
	overflow: hidden; 
	@include dish-selector-transition; 
	&__name { 
		width: $dish-name-width; 
		@include dish-selector-transition; 
		h3, p {
			text-overflow: ellipsis; 
			overflow: hidden; 
			white-space: nowrap;
		}
		h3 {
			font-size: 1em; 
			@include desktop-only {
				font-size: 1.2em; 
			}
		}
	}
	&:hover &__name {
		width: calc(#{$dish-name-width} - 48px); 
	}
	&__content {
		padding: .4rem; 
		@include desktop-only {
			padding: 1.2rem; 
		}
	}
	@include main-box-shadow(0.2); 
	:nth-child(2) {
		font-size: $small-font; 
		@include desktop-only {
			font-size: 1em; 
		}
	}
	.dish-price {
		font-weight: bold; 
		margin-left: auto; 
	}
	
	.dish-selector { 
		background: $tertiary-color; 
		color: white; 
		font-size: 1.2em; 
		padding: 0.8em; 
		height: 80px;
		align-self: center; 
		display: flex; 
		align-items: center; 
		transform: translateX(52px);
		margin-left: -46px;
		@include dish-selector-transition; 
	}
	&:hover .dish-selector {
		transform: translateX(0);
		margin-left: 2px; 
	}
	.fa-check-circle {
		transform: rotate(0); 
		@include dish-selector-transition; 
	}
	&:hover .fa-check-circle { 
		transform: rotate(360deg)
	}
}