@mixin page {
	max-width: 800px; 
	margin: auto; 
}

@mixin logo-font {
	font-family: 'Shrikhand', cursive;
}

@mixin main-box-shadow($opacity) {
	box-shadow: 1px 3px 12px rgba(0,0,0,$opacity);
}

@mixin gray-bg {
	background-color: $soft-gray-bg; 
}
@mixin grayer-bg {
	background-color: darken($soft-gray-bg, 10%); 
}
@mixin gradient-bg {
	background: linear-gradient($secondary-color, $primary-color); 
}

@mixin dish-selector-transition {
	transition: all ease 450ms;
}