$primary-color: #9356DC; 
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0; 
$footer-bg-color: #353535; 
$soft-gray-bg: #F7F7F7; 
$border-radius-box: 15px; 

$small-font: 0.8em; 

$dish-name-width: 82%; 

