.footer {
	background: $footer-bg-color; 
	color: white; 
	&__link-list {
		@include page; 
		padding: 1em; 
		list-style: none; 
		li {
			margin: 0.4em 0; 
		}
		i {
			width: 28px; 
		}
	}
	a {
		text-decoration: none; 
		color: white; 
		display: inline-block; 
		overflow: hidden;
		&:hover::after {
			transform: translateX(0);
			opacity: 1;
		}
		&::after {
			content:''; 
			border-bottom: solid 2px $primary-color; 
			display: block;
			height: 2px;
			transform: translateX(-100%); 
			opacity: 0.4;
			transition: all ease 350ms; 
		}
	}
	&__logo {
		@include logo-font; 
	}

}